---
# boss-ansible-fact
- name: Ensure that the private fact group exists
  group:
    name: '{{ boss__fact__private_group }}'
    system: True
    state: 'present'
  when: boss__fact__enabled|bool

- name: Make sure Ansible fact directory exists
  file:
    path: '/etc/ansible/facts.d'
    state: 'directory'
    owner: 'root'
    group: 'root'
    mode: '0755'
  when: boss__fact__enabled|bool

- name: Install local fact script
  template:
    src: 'etc/ansible/facts.d/boss__fact.fact.j2'
    dest: '/etc/ansible/facts.d/boss__fact.fact'
    owner: 'root'
    group: 'root'
    mode: '0755'
  register: boss__fact__register_facts
  when: boss__fact__enabled|bool

- name: Initialize public boss fact file
  template:
    src: 'etc/ansible/boss__fact.ini.j2'
    dest: '{{ boss__fact__public_path }}'
    owner: 'root'
    group: 'root'
    mode: '0644'
    force: False
  when: boss__fact__enabled|bool

- name: Initialize private boss fact file
  template:
    src: 'etc/ansible/boss__fact_priv.ini.j2'
    dest: '{{ boss__fact__private_path }}'
    owner: 'root'
    group: '{{ boss__fact__private_group }}'
    mode: '{{ boss__fact__private_mode }}'
    force: False
  when: boss__fact__enabled|bool

- name: Reload facts if they were modified
  action: setup
  when: boss__fact__enabled|bool and boss__fact__register_facts|changed
