# {{ ansible_managed }}

[{{ boss__fact__default_section }}]
enabled = true
public_facts = "{{ boss__fact__public_path }}"
public_section = "{{ boss__fact__public_section }}"
default_section = "{{ boss__fact__default_section }}"

[{{ boss__fact__public_section }}]
